.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    flex-direction: column;
}

#example {
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 1rem;
    margin: 3rem;
}

#demobox-one {
    border: 1px solid black;
    height: 15px;
    width: 15px;
}

#demobox-two {
    border: 1px solid black;
    height: 15px;
    width: 15px;
}

#demobox-three {
    border: 1px solid black;
    height: 15px;
    width: 15px;
}

#demobox-four {
    border: 1px solid black;
    height: 15px;
    width: 15px;
}

#demobox-bg {
    border: 1px solid black;
    height: 15px;
    width: 15px;
}

